#map {
  height: 400px;
  margin-bottom: 10px;
}

#map .overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  padding:10px;
  width: 190px;
  z-index: 1000;
  background: white;
}

.leaflet-label {
	border-radius: 4px;
	background: #ffffff;
	border: 2px solid #aaa;
	color: #333;
	display: block;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 1px 6px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	white-space: nowrap;
	z-index: 6;
}

.leaflet-label.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
}

.leaflet-label:after, .leaflet-label:before {	
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.leaflet-label:after {
	border-color: transparent;
	border-width: 6px;
}
.leaflet-label:before {
	border-color: transparent;
	border-width: 7px;
}
.leaflet-label-right:after {
	right: 100%;
	top: 5px;
	border-right-color: #ffffff;
}
.leaflet-label-right:before {
	right: 100%;
	top: 5px;
	border-right-color: #aaa;
}
.leaflet-label-left:after {
	left: 100%;
	top: 5px;
	border-right-color: #ffffff;
}
.leaflet-label-left:before {
	left: 100%;
	top: 5px;
	border-right-color: #aaa;
}
.leaflet-label-bottom:after {
	bottom: 100%;
	left: 50%;
	top: auto;
	right: auto;
	margin-left: -6px;
	border-color: transparent;
	border-bottom-color: #ffffff;
}
.leaflet-label-bottom:before {
	bottom: 100%;
	left: 50%;
	top: auto;
	right: auto;
	margin-left: -7px;
	border-color: transparent;
	border-bottom-color: #aaa;
}